build/*
common/windows/VulkanSDK/Windows/Include
common/windows/VulkanSDK/Windows/include
common/windows/VulkanSDK/Windows/lib
common/windows/VulkanSDK/Include/Include
common/windows/VulkanSDK/Windows/Lib/Lib
common/windows/versioninfo.rc
*.vscode/*